In [49]:
import pandas as pd
import glob
import os
#os.getcwd()
os.chdir("/home/matthew/anaconda3/envs/insight/staycationLA/data/raw")

In [50]:
LA = pd.read_csv("../processed/LA_combined_reviews.csv", index_col=None)
pos=LA['stars'] > 35
pos_LA=LA[pos]
pos_LA2=pos_LA.drop(['title', 'text'], axis=1)
pos_LA2 = pos_LA2.drop_duplicates()
len(pos_LA2)

126362

In [51]:
is_NaN = pos_LA2. isnull()
row_has_NaN = is_NaN. any(axis=1)
rows_with_NaN = pos_LA2[row_has_NaN]
pos_LA3=pos_LA2.dropna()
pos_LA3.reset_index()
len(rows_with_NaN)

43

In [52]:
LA2=LA.drop(['stars', 'title', 'text'], axis=1)
LA3=LA2.dropna()
LA4=LA3.groupby('attraction').count()
LA5=LA4['user'] > 1 #remove all attractions with only 1 review

# Get names of indexes for attractions with only 1 review
indexNames = LA4[ LA4['user'] == 1 ].index
# Delete these row indexes from dataFrame
LA4.drop(indexNames , inplace=True)
len(LA4)

1196

In [53]:
#glob all the user travel history files into a list
extension = 'csv'
all_filenames = [i for i in glob.glob('user_LA_*.{}'.format(extension))]
#print(all_filenames)
    
#combine all files in the list into df, drop US and Canada history, and save it as csv
li = []

for filename in all_filenames:
    df = pd.read_csv(filename, index_col=None)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame2=frame.dropna(axis=0, how='any') 
frame3=frame2[~frame2.place.str.contains(", USA")] #remove all domestic rows
frame4=frame3[~frame2.place.str.contains(", Canada")] 
#export to csv
frame4.to_csv( "../processed/LA_combined_user_travel_hist.csv", index=False, encoding='utf-8-sig')

<ipython-input-53-06e556351e06>:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  frame4=frame3[~frame2.place.str.contains(", Canada")]

In [54]:
#read the csf
trav_hist = pd.read_csv("../processed/LA_combined_user_travel_hist.csv", index_col=None)
trav_hist = trav_hist.drop_duplicates()
len(trav_hist)

2589378

In [11]:
city=trav_hist[trav_hist['place'].str.contains('Istanbul')]
city['user'] = city['user'].astype(str)
city_users = city['user'].tolist()
len(city_users)

<ipython-input-11-004c9c94ffff>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city['user'] = city['user'].astype(str)

8087

In [12]:
city=trav_hist[trav_hist['place'].str.contains('Phuket')]
city['user'] = city['user'].astype(str)
city_users = city['user'].tolist()
len(city_users)

<ipython-input-12-0518b6d65dc0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city['user'] = city['user'].astype(str)

2598

In [13]:
city=trav_hist[trav_hist['place'].str.contains('Jaipur')]
city['user'] = city['user'].astype(str)
city_users = city['user'].tolist()
len(city_users)

<ipython-input-13-0e8c83d6ac3f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city['user'] = city['user'].astype(str)

2029

In [34]:
merged_inner = pd.merge(left=pos_LA3, right=city, left_on='user', right_on='user')
merged_inner = merged_inner.drop_duplicates()
len(merged_inner)

4085

In [35]:
frame2 = merged_inner.drop(['stars', 'tag', 'place'], axis=1)
frame2 = frame2.drop_duplicates()
frame3 = frame2.groupby('attraction').count()
frame4 = frame3.sort_values(by='user', ascending=False)
frame4.head(10)

                             user
attraction
The_Getty_Center              253
Santa_Monica_Pier             187
Universal_Studios_Hollywood   144
Hollywood_Walk_of_Fame        141
Griffith_Observatory          116
Santa_Monica_State_Beach      111
Third_Street_Promenade        105
Venice_Beach                  104
Hollywood_Sign                 92
Rodeo_Drive                    90

In [44]:
merged_inner = pd.merge(left=LA4, right=frame4, left_on='attraction', right_on='attraction')
# In this case `species_id` is the only column name in  both dataframes, so if we skipped `left_on`
# And `right_on` arguments we would still get the same result

# What's the size of the output data?
#merged_inner.shape
merged_inner

                                                user_x  user_y
attraction
26_Mile_Bike_Path                                  978      28
A_Noise_Within_Theatre                              26       1
Abalone_Cove_Shoreline_Park_Ecological_Reserve      81       2
Abbot_Kinney_Boulevard                             274      14
Adamson_House_and_Malibu_Lagoon_Museum             153       6
...                                                ...     ...
Wiltern_Theatre                                     66       1
Wrigley_Gardens                                     29       1
Wrigley_Memorial_Botanic_Garden                    495       5
Zen_Center_of_Los_Angeles                            2       1
Zuma_Beach                                         498      18

[461 rows x 2 columns]

In [45]:
merged_inner['pop_control']= merged_inner['user_y']/merged_inner['user_x']
merged_inner2=merged_inner.sort_values(by='pop_control', ascending=False)
merged_inner2.head(10)

                                  user_x  user_y  pop_control
attraction
Old_Trapper_s_Lodge                    3       2     0.666667
Fair_Oaks_Cigars                       2       1     0.500000
Zen_Center_of_Los_Angeles              2       1     0.500000
George_Stern_Fine_Arts                 2       1     0.500000
The_Jazz_Bakery                        4       2     0.500000
Michael_Levy_Gallery                   2       1     0.500000
Serenity_Zen_Massage_Reflexology       3       1     0.333333
El_Rancho_Escondido                    3       1     0.333333
Ocean_Park_Ranch                       3       1     0.333333
Rustic_Canyon_Park                     3       1     0.333333

In [46]:
import numpy as np
merged_inner['log']= np.log((merged_inner['user_x'])+1)
merged_inner['log2']= np.log((merged_inner['log'])+1)

In [47]:
merged_inner['score']= merged_inner['pop_control']*merged_inner['log']
merged_inner2=merged_inner.sort_values(by='score', ascending=False)
merged_inner2.head(20)

,user_x,user_y,pop_control,log,log2,score
attraction,,,,,,
Old_Trapper_s_Lodge,3,2,0.666667,1.386294,0.869742,0.924196
The_Jazz_Bakery,4,2,0.500000,1.609438,0.959135,0.804719
Pasadena_City_College_Flea_Market,17,4,0.235294,2.890372,1.358505,0.680087
Odyssey_Theatre,6,2,0.333333,1.945910,1.080418,0.648637
Wat_Thai_of_Los_Angeles,12,3,0.250000,2.564949,1.271150,0.641237
Pomona_College_Museum_of_Art,7,2,0.285714,2.079442,1.124748,0.594126
Mountain_View_Cemetery,7,2,0.285714,2.079442,1.124748,0.594126
George_Stern_Fine_Arts,2,1,0.500000,1.098612,0.741276,0.549306
Zen_Center_of_Los_Angeles,2,1,0.500000,1.098612,0.741276,0.549306
Fair_Oaks_Cigars,2,1,0.500000,1.098612,0.741276,0.549306
Michael_Levy_Gallery,2,1,0.500000,1.098612,0.741276,0.549306
Beverly_Gardens_Park,93,11,0.118280,4.543295,1.712589,0.537379
Lummis_Home_El_Alisal,10,2,0.200000,2.397895,1.223156,0.479579
Southwest_Museum,10,2,0.200000,2.397895,1.223156,0.479579
Ocean_Park_Ranch,3,1,0.333333,1.386294,0.869742,0.462098
El_Rancho_Escondido,3,1,0.333333,1.386294,0.869742,0.462098
Serenity_Zen_Massage_Reflexology,3,1,0.333333,1.386294,0.869742,0.462098
Rustic_Canyon_Park,3,1,0.333333,1.386294,0.869742,0.462098
Leimert_Park_Village,3,1,0.333333,1.386294,0.869742,0.462098
Marvin_Braude_Bike_Trail,21,3,0.142857,3.091042,1.408800,0.441577

In [48]:
merged_inner['score2']= merged_inner['pop_control']*merged_inner['log2']
merged_inner2=merged_inner.sort_values(by='score2', ascending=False)
merged_inner2.head(20)

,user_x,user_y,pop_control,log,log2,score,score2
attraction,,,,,,,
Old_Trapper_s_Lodge,3,2,0.666667,1.386294,0.869742,0.924196,0.579828
The_Jazz_Bakery,4,2,0.500000,1.609438,0.959135,0.804719,0.479567
George_Stern_Fine_Arts,2,1,0.500000,1.098612,0.741276,0.549306,0.370638
Zen_Center_of_Los_Angeles,2,1,0.500000,1.098612,0.741276,0.549306,0.370638
Michael_Levy_Gallery,2,1,0.500000,1.098612,0.741276,0.549306,0.370638
Fair_Oaks_Cigars,2,1,0.500000,1.098612,0.741276,0.549306,0.370638
Odyssey_Theatre,6,2,0.333333,1.945910,1.080418,0.648637,0.360139
Mountain_View_Cemetery,7,2,0.285714,2.079442,1.124748,0.594126,0.321357
Pomona_College_Museum_of_Art,7,2,0.285714,2.079442,1.124748,0.594126,0.321357
Pasadena_City_College_Flea_Market,17,4,0.235294,2.890372,1.358505,0.680087,0.319648
Wat_Thai_of_Los_Angeles,12,3,0.250000,2.564949,1.271150,0.641237,0.317787
El_Rancho_Escondido,3,1,0.333333,1.386294,0.869742,0.462098,0.289914
Ocean_Park_Ranch,3,1,0.333333,1.386294,0.869742,0.462098,0.289914
Rustic_Canyon_Park,3,1,0.333333,1.386294,0.869742,0.462098,0.289914
Serenity_Zen_Massage_Reflexology,3,1,0.333333,1.386294,0.869742,0.462098,0.289914
Leimert_Park_Village,3,1,0.333333,1.386294,0.869742,0.462098,0.289914
Southwest_Museum,10,2,0.200000,2.397895,1.223156,0.479579,0.244631
Lummis_Home_El_Alisal,10,2,0.200000,2.397895,1.223156,0.479579,0.244631
UCMarina_Aquatic_Center,4,1,0.250000,1.609438,0.959135,0.402359,0.239784
Beverly_Hills_Visitor_Center,4,1,0.250000,1.609438,0.959135,0.402359,0.239784

In [ ]:
LA = pd.read_csv("../data/processed/LA_final_corpora.csv", index_col=None)

In [6]:
pd.options.display.max_colwidth = 20
LA.head(10)

,attraction,english,TA_url,rating,gps,url,type,name,pic,num_reviews,ranking
0,Universal_Studios_Hollywood,front of the line be a must family have be to ...,https://www.tripadvisor.com/Attraction_Review-...,45,"[('34.138416', '-118.35337')]",http://www.universalstudioshollywood.com/,Theme Parks,Universal Studios Hollywood,https://dynamic-media-cdn.tripadvisor.com/medi...,36470,1
1,Griffith_Observatory,observatory another must see landmark visit to...,https://www.tripadvisor.com/Attraction_Review-...,45,"[('34.118492', '-118.30039')]",http://www.griffithobservatory.org/,Observatories & Planetariums,Griffith Observatory,https://dynamic-media-cdn.tripadvisor.com/medi...,20247,2
2,Santa_Monica_Pier,the end of the mother road a must do on any tr...,https://www.tripadvisor.com/Attraction_Review-...,40,"[('34.01038', '-118.49594')]",http://santamonicapier.org/,Points of Interest & Landmarks,Santa Monica Pier,https://dynamic-media-cdn.tripadvisor.com/medi...,18866,3
3,Hollywood_Walk_of_Fame,exciting be very crowded walk up down the stre...,https://www.tripadvisor.com/Attraction_Review-...,35,"[('34.1016', '-118.32672')]",http://www.walkoffame.com/,Points of Interest & Landmarks,Hollywood Walk of Fame,https://dynamic-media-cdn.tripadvisor.com/medi...,17542,4
4,The_Getty_Center,accidentally press wrong key but can t get out...,https://www.tripadvisor.com/Attraction_Review-...,50,"[('34.077564', '-118.474625')]",http://www.getty.edu/visit/center,Specialty Museums,The Getty Center,https://dynamic-media-cdn.tripadvisor.com/medi...,14503,5
5,Venice_Beach,crazy i think be crazy in a good way from the ...,https://www.tripadvisor.com/Attraction_Review-...,40,"[('33.985912', '-118.47328')]",https://www.tripadvisor.com/Attraction_Review-...,Beaches,Venice Beach,https://dynamic-media-cdn.tripadvisor.com/medi...,10729,6
6,Hollywood_Sign,beautiful landmark definitely a must if be vis...,https://www.tripadvisor.com/Attraction_Review-...,40,"[('34.134113', '-118.32154')]",http://www.visitcalifornia.com/attraction/holl...,Points of Interest & Landmarks,Hollywood Sign,https://dynamic-media-cdn.tripadvisor.com/medi...,7648,7
7,Santa_Monica_State_Beach,beach a beach have long shore with a broad wal...,https://www.tripadvisor.com/Attraction_Review-...,45,"[('34.0114', '-118.49491')]",http://www.smgov.net/portals/beach,State Parks,Santa Monica State Beach,https://dynamic-media-cdn.tripadvisor.com/medi...,6697,8
8,Third_Street_Promenade,a s dream with atmosphere can not make a trip ...,https://www.tripadvisor.com/Attraction_Review-...,45,"[('34.01833', '-118.4993')]",http://www.downtownsm.com/,Shopping Malls,Third Street Promenade,https://dynamic-media-cdn.tripadvisor.com/medi...,6098,9
9,Rodeo_Drive,pretty shop super exclusive and luxury shoppin...,https://www.tripadvisor.com/Attraction_Review-...,40,"[('34.06983', '-118.40366')]",http://www.beverlyhills.org/exploring/beverlyh...,Points of Interest & Landmarks,Rodeo Drive,https://dynamic-media-cdn.tripadvisor.com/medi...,5491,10

In [ ]:
#section on star rating- doesn't work very well

In [312]:
reviews['stars'] / reviews.groupby('attraction')['stars'].transform('sum')

0        0.026178
1        0.026178
2        0.026178
3        0.026178
4        0.026178
           ...
62399    0.000395
62400    0.000158
62401    0.000158
62402    0.000395
62403    0.000316
Name: stars, Length: 62404, dtype: float64

In [340]:
reviews.groupby('attraction')['stars'].transform('sum')

0          1910
1          1910
2          1910
3          1910
4          1910
          ...
62399    126430
62400    126430
62401    126430
62402    126430
62403    126430
Name: stars, Length: 62404, dtype: int64

In [417]:
c = reviews.groupby('attraction')['stars'].sum().rename("count")
total=c.groupby(['attraction']).sum()
maximum=(reviews.groupby('attraction')['stars'].count())*50
av=total/maximum
import numpy as np
r4=np.log(reviews3+1)
r5=np.log(r4+1)
r5a=np.log(r5+1)
r5b=np.log(r5a+1)
r5c=np.log(r5b+1)
r5d=np.log(r5c+1)
r6=np.log(r5d+1)
r6['rating']=av
r6['score']=r6['user'] * r6['rating']
r7=r6.sort_values(by='score', ascending=False)
r7.head(10)

,user,rating,score
attraction,,,
LA_The_Huntington_Library_Art_Museum_and_Botanical_Gardens_url,0.371879,0.963305,0.358233
LA_Norton_Simon_Museum,0.368907,0.959551,0.353985
LA_The_Getty_Center_url,0.368513,0.955722,0.352197
LA_The_Huntington_Desert_Garden_url,0.356654,0.977778,0.348729
LA_Glass_Church_Wayfarers_Chapel_url,0.362504,0.961798,0.348656
LA_26_Mile_Bike_Path,0.369131,0.941138,0.347404
LA_The_Gamble_House,0.365217,0.943717,0.344662
LA_Frederick_R_Weisman_Art_Foundation,0.351903,0.977011,0.343813
LA_Southern_California_Soaring_Academy_url,0.349108,0.984615,0.343737
LA_Rose_Parade,0.358282,0.956842,0.342819

In [414]:
c = frame.groupby('attraction')['stars'].sum().rename("count")
total=c.groupby(['attraction']).sum()
maximum=(frame.groupby('attraction')['stars'].count())*50
av=total/maximum
import numpy as np
r4=np.log(frame3+1)
r5=np.log(r4+1)
r5a=np.log(r5+1)
r5b=np.log(r5a+1)
r5c=np.log(r5b+1)
r5d=np.log(r5c+1)
r6=np.log(r5d+1)
#r6=r4
r6['rating']=av
r6['score']=r6['user'] * r6['rating']
ist_r7=r6.sort_values(by='score', ascending=False)
ist_r7.head(10)

,user,rating,score
attraction,,,
LA_The_Huntington_Library_Art_Museum_and_Botanical_Gardens_url,0.346353,0.988000,0.342197
LA_Norton_Simon_Museum,0.347573,0.967857,0.336401
LA_Santa_Monica_State_Beach,0.349982,0.935211,0.327307
LA_26_Mile_Bike_Path,0.342181,0.954286,0.326539
LA_Aquarium_of_the_Pacific,0.348952,0.931250,0.324961
LA_Santa_Monica_Public_Library,0.329674,0.973333,0.320883
LA_Rodeo_Drive,0.346780,0.919231,0.318771
LA_Naples_Island,0.342181,0.931429,0.318718
LA_El_Dorado_Nature_Center,0.332738,0.955556,0.317950
LA_Third_Street_Promenade,0.356396,0.891892,0.317867

In [413]:
c = frame.groupby('attraction')['stars'].sum().rename("count")
total=c.groupby(['attraction']).sum()
maximum=(frame.groupby('attraction')['stars'].count())*50
av=total/maximum
import numpy as np
r4=np.log(frame3+1)
r5=np.log(r4+1)
r5a=np.log(r5+1)
r6=np.log(r5+1)
#r6=r4
r6['rating']=av
r6['score']=r6['user'] * r6['rating']
ist_r7=r6.sort_values(by='score', ascending=False)
ist_r7.head(10)

,user,rating,score
attraction,,,
LA_The_Huntington_Library_Art_Museum_and_Botanical_Gardens_url,0.953860,0.988000,0.942413
LA_Norton_Simon_Museum,0.962415,0.967857,0.931480
LA_The_Queen_Mary,1.037628,0.883146,0.916377
LA_Santa_Monica_State_Beach,0.979564,0.935211,0.916099
LA_Third_Street_Promenade,1.026908,0.891892,0.915890
LA_Aquarium_of_the_Pacific,0.972187,0.931250,0.905349
LA_26_Mile_Bike_Path,0.925237,0.954286,0.882941
LA_Rodeo_Drive,0.956848,0.919231,0.879565
LA_Naples_Island,0.925237,0.931429,0.861793
LA_Six_Flags_Magic_Mountain,0.912001,0.920000,0.839041

In [415]:
r6.sort_values(by='user', ascending=False)

                                        user    rating     score
attraction
LA_The_Queen_Mary                   0.357802  0.883146  0.315991
LA_Third_Street_Promenade           0.356396  0.891892  0.317867
LA_Santa_Monica_State_Beach         0.349982  0.935211  0.327307
LA_Aquarium_of_the_Pacific          0.348952  0.931250  0.324961
LA_Norton_Simon_Museum              0.347573  0.967857  0.336401
...                                      ...       ...       ...
LA_Industry_Hills_Golf_Club_url     0.234307  0.800000  0.187446
LA_International_City_Theatre       0.234307  1.000000  0.234307
LA_San_Antonio_Winery_url           0.234307  1.000000  0.234307
LA_Joe_Davies_Heritage_Airpark_url  0.234307  0.800000  0.187446
LA_Museum_of_Art_History_MOAH       0.234307  1.000000  0.234307

[220 rows x 3 columns]

In [395]:
frame4.head(10)

                                                    user
attraction
LA_The_Queen_Mary                                    178
LA_Third_Street_Promenade                            148
LA_Santa_Monica_State_Beach                           71
LA_Aquarium_of_the_Pacific                            64
LA_Norton_Simon_Museum                                56
LA_Rodeo_Drive                                        52
LA_The_Huntington_Library_Art_Museum_and_Botani...    50
LA_26_Mile_Bike_Path                                  35
LA_Naples_Island                                      35
LA_Long_Beach_Waterfront                              35

In [224]:
l2[l2.user.str.contains("princesslollipop")]

,stars,title,text,user,review_category
10,50,Cold but lovely,What a wonderful place to spend a few hours wi...,princesslollipop,Positive